# Visual Studio and IDEs
.vs/
.idea/
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Static Libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Unreal Engine Generated Project Files
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Art Source Files
SourceArt/**/*.png
SourceArt/**/*.tga

# Unreal Engine Binaries
Binaries/
Plugins/*/Binaries/

# Builds
Build/
!Build/**/*.ico
!Build/**/PakBlacklist*.txt

# Generated Map Data
*_BuiltData.uasset

# Editor-generated configuration
Saved/
DerivedDataCache/
Intermediate/
Plugins/*/Intermediate/

# Logs and Temp
*.log
*.tmp
*.bak
*.orig

# Auto-saves
*.autosave

# Crash dumps
*.dmp

# OS-specific
.DS_Store
Thumbs.db

# User-specific editor config
Config/DefaultEditorPerProjectUserSettings.ini
